<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rajasthan Hackathon</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/vendor/uikit.min.css">
    <link rel="stylesheet" href="css/vendor/uikit-rtl.min.css">
</head>
<body>


    <div class="uk-container masthead login">
        <div class="uk-card uk-card-default uk-box-shadow-large">
            <div class="uk-card-header">
                <div class="uk-align-center">
                    <span uk-icon="icon: code"></span>
                    <h3 class="uk-card-title uk-margin-remove-bottom" align="center">Miss Granger</h3>
                </div>
            </div>
            <div class="uk-card-body">
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="e-mitra-id">
                </div>
                <div class="uk-margin">
                    <input class="uk-input" type="password" placeholder="password">
                </div>
            </div>
            <div class="uk-card-footer">
                <a href="/pending-orders" class="uk-button uk-button-primary uk-align-center">Login</a>
            </div>
        </div>
    </div>

    <script src="js/vendor/uikit.min.js"></script>
    <script src="js/vendor/uikit-icons.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
