html{
    background-image: url(../img/bg.jpg) !important;
}

.masthead{
    top: auto !important;
    left: auto !important;
    display: table;
    position: relative;

}
.login{
    padding-top: 50% !important;
}
